@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@font-face {
	font-family: 'Instrument Sans';
	src: url('/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth,wght.ttf') format('truetype');
	font-weight: 0 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Instrument Sans';
	src: url('/fonts/Instrument_Sans/InstrumentSans-Italic-VariableFont_wdth,wght.ttf')
		format('truetype');
	font-weight: 0 900;
	font-style: italic;
	font-display: swap;
}

@theme {
	--font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
	--breakpoint-xs: 30rem;
	--breakpoint-2xl: 100rem;
	--breakpoint-3xl: 120rem;
}

@layer base {
	html,
	body {
		font-family: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;
	}
}
